{% load static %}
{% load custom_tags %}
{% env_value as env%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Js2Py - Javascript Object to Python Converter</title>
    <link rel="icon" type="image/png" href="{% static '/ui/img/logo.png' %}" />
  </head>
  <body>
    <div id="root"></div>
    {% if env %}
    <script type="text/javascript" src="http://127.0.0.1:8080/main.js"></script>
    {% else %}
    <script type="text/javascript" src="{% static '/ui/js/bundle.js' %}"></script>
    {% endif %}
  </body>
</html>
